- action:
  - data_template:
      entity_id: climate.thermo_poele
      temperature: '{{ states.calendar.poele.attributes.message | replace(" #heat","")
        | float}}'
    service: climate.set_temperature
  - data:
      entity_id: climate.thermo_poele
      operation_mode: 'heat'
    service: climate.set_operation_mode
  alias: Allumage Poele
  condition:
  - condition: state
    entity_id: calendar.poele
    state: 'on'
  id: on_poele_by_calendar
  trigger:
  - entity_id: calendar.poele
    from: 'off'
    platform: state
    to: 'on'
  - minutes: /5
    platform: time
    seconds: 0
- action:
  - data:
      entity_id: climate.thermo_poele
      operation_mode: 'off'
    service: climate.set_operation_mode
  alias: Extinction Poele
  condition:
  - condition: state
    entity_id: calendar.poele
    state: 'off'
  id: off_poele_by_calendar
  trigger:
  - entity_id: calendar.poele
    from: 'on'
    platform: state
    to: 'off'
  - platform: time
    minutes: /5
    seconds: 0
